<?xml version="1.0" encoding="utf-8" ?>
  <security allowRemoteDownloads="true" timeout="300000" maxBytes="524288" remotePrefix="/remote.axd">
    <whiteList>
      <add url="http://images.mymovies.net"/>
      <add url="http://maps.googleapis.com" extensionLess="true" imageFormat=".png"/>
    </whiteList>
  </security>
