<?xml version="1.0" encoding="utf-8" ?>
<processing>
  <presets>
    <!--<preset name="demo" value="width=300&#038;height=150&#038;bgcolor=transparent"/>-->
  </presets>
  <plugins autoLoadPlugins="true">
    <plugin name="Alpha" type="ImageProcessor.Processors.Alpha, ImageProcessor"/>
    <plugin name="Brightness" type="ImageProcessor.Processors.Brightness, ImageProcessor"/>
    <plugin name="Contrast" type="ImageProcessor.Processors.Contrast, ImageProcessor"/>
    <plugin name="Crop" type="ImageProcessor.Processors.Crop, ImageProcessor"/>
    <plugin name="Filter" type="ImageProcessor.Processors.Filter, ImageProcessor"/>
    <plugin name="Flip" type="ImageProcessor.Processors.Flip, ImageProcessor"/>
    <plugin name="Format" type="ImageProcessor.Processors.Format, ImageProcessor"/>
    <plugin name="GaussianBlur" type="ImageProcessor.Processors.GaussianBlur, ImageProcessor">
      <settings>
        <setting key="MaxSize" value="22"/>
        <setting key="MaxSigma" value="5.1"/>
        <setting key="MaxThreshold" value="100"/>
      </settings>
    </plugin>
    <plugin name="GaussianSharpen" type="ImageProcessor.Processors.GaussianSharpen, ImageProcessor">
      <settings>
        <setting key="MaxSize" value="22"/>
        <setting key="MaxSigma" value="5.1"/>
        <setting key="MaxThreshold" value="100"/>
      </settings>
    </plugin>
    <plugin name="Quality" type="ImageProcessor.Processors.Quality, ImageProcessor"/>
    <plugin name="Resize" type="ImageProcessor.Processors.Resize, ImageProcessor">
      <settings>
        <setting key="MaxWidth" value="3000"/>
        <setting key="MaxHeight" value="3000"/>
        <!--<setting key="RestrictTo" value="width=300height=300,width=300height=300"/>-->
      </settings>
    </plugin>
    <plugin name="Rotate" type="ImageProcessor.Processors.Rotate, ImageProcessor"/>
    <plugin name="RoundedCorners" type="ImageProcessor.Processors.RoundedCorners, ImageProcessor"/>
    <plugin name="Saturation" type="ImageProcessor.Processors.Saturation, ImageProcessor"/>
    <plugin name="Vignette" type="ImageProcessor.Processors.Vignette, ImageProcessor"/>
    <plugin name="Watermark" type="ImageProcessor.Processors.Watermark, ImageProcessor"/>
  </plugins>
</processing>

