<?xml version="1.0" encoding="utf-8" ?>
<processing>
  <plugins>
    <plugin name="Resize">
      <settings>
        <setting key="MaxWidth" value="3000"/>
        <setting key="MaxHeight" value="3000"/>
      </settings>
    </plugin>
    <plugin name="GaussianBlur">
      <settings>
        <setting key="MaxSize" value="22"/>
        <setting key="MaxSigma" value="5.1"/>
        <setting key="MaxThreshold" value="100"/>
      </settings>
    </plugin>
    <plugin name="GaussianSharpen">
      <settings>
        <setting key="MaxSize" value="22"/>
        <setting key="MaxSigma" value="5.1"/>
        <setting key="MaxThreshold" value="100"/>
      </settings>
    </plugin>
    <plugin name="Preset">
      <settings>
        <setting key="demo" value="width=300&#038;height=150&#038;&#038;bgcolor=transparent"/>
      </settings>
    </plugin>
  </plugins>
</processing>

