<?xml version="1.0" encoding="utf-8" ?>
<security allowRemoteDownloads="true" timeout="300000" maxBytes="524288" remotePrefix="/remote.axd">
  <whiteList>
    <add url="http://images.mymovies.net"/>
    <add url="http://maps.googleapis.com" extensionLess="true" imageFormat=".png"/>
    <add url="https://fbcdn-profile-"/>
    <add url="http://fbcdn-profile-"/>
    <add url="https://profile."/>
    <add url="http://profile."/>
    <add url="https://pbs.twimg.com"/>
    <add url="http://pbs.twimg.com"/>
    <add url="http://placekitten.com"/>
    <add url="http://hanselminutes.com/"/>
  </whiteList>
</security>
