[submodule "tests/Images/External"]
	path = tests/Images/External
	url = https://github.com/SixLabors/Imagesharp.Tests.Images.git
	branch = master
[submodule "standards"]
	path = standards
	url = https://github.com/SixLabors/Standards
