###############################################################################
# Set default behavior to:
#   treat as text and
#   normalize to Unix-style line endings
###############################################################################
*           text        eol=lf

###############################################################################
# Set explicit file behavior to:
#   treat as text and
#   normalize to Unix-style line endings
###############################################################################
*.asm               text        eol=lf
*.c                 text        eol=lf
*.clj               text        eol=lf
*.cmd               text        eol=lf
*.cpp               text        eol=lf
*.css               text        eol=lf
*.cxx               text        eol=lf
*.config            text        eol=lf
*.DotSettings       text        eol=lf
*.erl               text        eol=lf
*.fs                text        eol=lf
*.fsx               text        eol=lf
*.h                 text        eol=lf
*.htm               text        eol=lf
*.html              text        eol=lf
*.hs                text        eol=lf
*.hxx               text        eol=lf
*.java              text        eol=lf
*.js                text        eol=lf
*.json              text        eol=lf
*.less              text        eol=lf
*.lisp              text        eol=lf
*.lua               text        eol=lf
*.m                 text        eol=lf
*.md                text        eol=lf
*.php               text        eol=lf
*.props             text        eol=lf
*.ps1               text        eol=lf
*.py                text        eol=lf
*.rb                text        eol=lf
*.resx              text        eol=lf
*.runsettings       text        eol=lf
*.ruleset           text        eol=lf
*.sass              text        eol=lf
*.scss              text        eol=lf
*.sh                text        eol=lf
*.sql               text        eol=lf
*.svg               text        eol=lf
*.targets           text        eol=lf
*.tt                text        eol=crlf
*.ttinclude         text        eol=crlf
*.txt               text        eol=lf
*.vb                text        eol=lf
*.yml               text        eol=lf

###############################################################################
# Set explicit file behavior to:
#   treat as text
#   normalize to Unix-style line endings and
#   diff as csharp
###############################################################################
*.cs                text        eol=lf          diff=csharp

###############################################################################
# Set explicit file behavior to:
#   treat as text
#   normalize to Unix-style line endings and
#   use a union merge when resoling conflicts
###############################################################################
*.csproj            text        eol=lf          merge=union
*.dbproj            text        eol=lf          merge=union
*.fsproj            text        eol=lf          merge=union
*.ncrunchproject    text        eol=lf          merge=union
*.vbproj            text        eol=lf          merge=union

###############################################################################
# Set explicit file behavior to:
#   treat as text
#   normalize to Windows-style line endings and
#   use a union merge when resoling conflicts
###############################################################################
*.sln               text        eol=crlf        merge=union

###############################################################################
# Set explicit file behavior to:
#   treat as binary
###############################################################################
*.basis             binary
*.bmp               binary
*.dds               binary
*.dll               binary
*.eot               binary
*.exe               binary
*.gif               binary
*.jpg               binary
*.ktx               binary
*.otf               binary
*.pbm               binary
*.pdf               binary
*.png               binary
*.ppt               binary
*.pptx              binary
*.pvr               binary
*.snk               binary
*.tga               binary
*.tif               binary
*.tiff              binary
*.ttc               binary
*.ttf               binary
*.wbmp              binary
*.webp              binary
*.woff              binary
*.woff2             binary
*.xls               binary
*.xlsx              binary

###############################################################################
# Set explicit file behavior to:
#   diff as plain text
###############################################################################
*.doc               diff=astextplain
*.docx              diff=astextplain
*.dot               diff=astextplain
*.pdf               diff=astextplain
*.pptx              diff=astextplain
*.rtf               diff=astextplain
*.svg               diff=astextplain
