version: 1.0.0.{build}
os: Visual Studio 2015

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://gist.githubusercontent.com/PureKrome/0f79e25693d574807939/raw/8cf3160c9516ef1f4effc825c0a44acc918a0b5a/appveyor-build-info.ps'))

environment:
  # Version Suffix
  version_suffix: alpha

install:
# Use the install script to grab the latest dotnet install
- ps: iex .\dotnet-latest.ps1

# Prepend newly installed dotnet cli to the PATH of this build (this cannot be
# done from inside the powershell script as it would require to restart
# the parent CMD process).
- "SET PATH=C:\\Program Files\\dotnet\\bin;%PATH%"

- ps: .\build\appveyor-semver.ps1
- ps: Update-AppveyorBuild -Version "v$Env:appveyor_version"

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(ms_file_version)'
  assembly_file_version: '$(ms_file_version)'
  assembly_informational_version: '$(mssemver)'

before_build:
- cmd: >-
    dotnet restore src\ImageSharp

    cd build

    npm install

    node appveyor-project-version-patch.js

    cd..

build_script:
- cmd: >-
    dotnet pack src\ImageSharp --configuration Release --output "artifacts\bin\ImageSharp"

test_script:
- tests\CodeCoverage\CodeCoverage.cmd

artifacts:
- path: artifacts\bin\ImageSharp\**\*.nupkg

deploy:
    # MyGet Deployment for builds & releases
 - provider: NuGet
   server: https://www.myget.org/F/imagesharp/api/v2/package
   symbol_server: https://www.myget.org/F/imagesharp/api/v2/package # https://nuget.symbolsource.org/MyGet/imagesharp
   api_key:
     secure: fz0rUrt3B1HczUC1ZehwVsrFSWX9WZGDQoueDztLte9/+yQG+BBU7UrO+coE8lUf
   artifact: /.*\.nupkg/
   on:
     branch: master
