<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ImageSharp" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="SA1413" Action="None" />
   <!-- <Rule Id="SA1405" Action="None" />
     temp remove the header requirement as stylecop is currently failing to read the stylecop.json file from 'dotnet build' 
    <Rule Id="SA1636" Action="None" />-->
    <Rule Id="SA1633" Action="None" />
    <!--1.1.0-beta6 incorrectly throws a wobbler here for multiline matrices-->
    <Rule Id="SA1500" Action="None" /> 
    <!--Comments should end with a period. I like this but there's 3000+ errors to fix-->
    <Rule Id="SA1629" Action="None" /> 
  </Rules>
</RuleSet>