h1, h2, h3 {
    font-weight: 400;
    color: #40064e;
}

h3 {
    font-weight: 500;
    color: #40064e;
}

header[role="banner"] {
    background-color: #40064e;
    color: #fff;
}

header[role="banner"] h1 {
    font-size: 3rem;
    color: #fff;
}

header[role="banner"] h1 img {
    width: 72px;
    margin-right: .5rem;
    vertical-align: text-top;
}

header[role="banner"] p {
    font-size: 2rem;
}

.repo-icons {
    padding: 0;
    list-style: none;
}

.repo-icons li {
    display: inline-block;
    max-width: 25%;
}

@media (min-width: 62em) {
    header[role="banner"] h1 {
        font-size: 4rem;
    }
    header[role="banner"] h1 img {
        width: 96px;
        margin-right: 1rem;
    }
    .repo-icons img {
        margin-right: 1rem;
    }
}

.community img {
    max-width: 128px;
}