@{
    ViewBag.Title = "Home Page";
}
<article>
    <h1>Jpg</h1>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Resized</h2>
                <img src="/images/format-Penguins.jpg?width=400&height=500&anchor=top" />
                <img src="/images/format-Penguins.jpg?width=400&rotatebounded=45" />
                <img src="/images/format-Penguins.jpg?width=400&rotatebounded=45&rotatebounded.keepsize=true" />
                <img src="/remote.axd/ciras.blob.core.windows.net/media-test/1002/happy-young-businessman_big.jpg?crop=0.24671916010498687,0.029791962724296239,0,0.32968083870333464&cropmode=percentage&quality=90&width=480&heightratio=0.7491289198606271777003484321&slimmage=true"/>
            </div>
            <div class="col-s-6">
                <h2>Resized Remote</h2>
                <img src="/remote.axd/ipcache.blob.core.windows.net/source/IMG_0671.JPG?width=400" />
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Resized Remote</h2>
                <img src="/remote.axd/ipcache.blob.core.windows.net/source/IMG_1188.JPG?width=400&halftone=comic" />
            </div>
        </div>
    </section>
</article>