<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Shaper2D" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1413" Action="None" />
    <!-- Test only ignores -->
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1600" Action="None" />
  </Rules>
</RuleSet>
