@{
    ViewBag.Title = "External";
}
<h1>External</h1>
<section>
    <div class="row">
        <div class="col-s-6">
            <img src="/remote.axd?http://images.mymovies.net/images/film/cin/500x377/fid11707.jpg?width=400" />
        </div>
        <div class="col-s-6">
            <img src="/remote.axd?http://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=false&size=800x500&maptype=roadmap&sensor=false&format=png&visual_refresh=true?width=400" />
        </div>
    </div>
</section>
