@{
    ViewBag.Title = "Responsive";
}
<style type="text/css">
    img
    {
        max-width: 100%;
    }
</style>
<h2>
    Responsive</h2>
<img src="/Images/desert.jpg?width=480" srcset="/Images/desert.jpg?width=768 480w, /Images/penguins.jpg?width=979 640w 2x,  /Images/jellyfish.jpg?width=480 2x"
    alt="desert" />
@*<img src="/Images/desert.jpg?width=480" srcset="/Images/desert.jpg?width=768 480w, /Images/jellyfish.jpg?width=480 2x, /Images/penguins.jpg?width=979 640w 2x"
    alt="desert" />*@ @*<img src="/Images/desert.jpg?width=480" srcset="/Images/desert.jpg?width=768 480w, /Images/desert.jpg?width=979 768w"
    alt="desert" />*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/Scripts/img.srcsect.pollyfill.js" type="text/javascript"></script>
