<caching currentCache="DiskCache">
  <caches>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web">
      <settings>
        <setting key="MaxDays" value="56"/>
        <setting key="VirtualCachePath" value="~/app_data/cache"/>
      </settings>
    </cache>
  </caches>
</caching>

