@{
    ViewBag.Title = "External";
}
<h1>External</h1>
<section>
    <div class="row">
        <div class="col-s-6">
            <h4>Current</h4>
            <img src="/remote.axd/images.mymovies.net/images/film/cin/500x377/fid11707.jpg?width=399" />
            <h4>Legacy</h4>
            <img src="/remote.axd?http://images.mymovies.net/images/film/cin/500x377/fid11707.jpg?width=399" />
        </div>
        <div class="col-s-6">
            <h4>Current</h4>
            <img src="/remote.axd/maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=false&size=800x500&maptype=roadmap&sensor=false&format=png&visual_refresh=true?width=401" />
            <h4>Legacy</h4>
            <img src="/remote.axd?http://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=false&size=800x500&maptype=roadmap&sensor=false&format=png&visual_refresh=true?width=401" />
        </div>
    </div>
    <div class="row">
        <div class="col-s-6">
            <h4>Current</h4>
            <img src="/remote.axd?http://images.hanselminutes.com/images/255.jpg?width=201" />
            <h4>Legacy</h4>
            <img src="/remote.axd/images.hanselminutes.com/images/255.jpg?width=201" />
        </div>
    </div>
</section>
