@{
    ViewBag.Title = "Home Page";
}
<article>
    <h1>Jpg</h1>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Resized</h2>
                <img src="/images/format-Penguins.jpg?width=302" />
                <img src="/remote.axd/ipcache.blob.core.windows.net/source/IMG_0671.JPG?width=302&filter=comic" />
            </div>
            <div class="col-s-6">
                <h2>Cropped </h2>
                <img src="/images/format-Penguins.jpg?crop=0,0,300,225" />

                <h3>Cropped Percent</h3>
                <img src="/images/format-Penguins.jpg?width=300&height300&crop=0.1,0.2,0.1,0.6&cropmode=percent" />
                <img src="/images/bus.jpg?width=311" />
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <h2>Reside Pad</h2>
            <div class="col-s-4">
                <img src="/images/format-Penguins.jpg?width=300&height=500" />
            </div>
        </div>
    </section>
    @*<section>
            <div class="row">
                <h2>Resize Crop</h2>
                <div class="col-s-4">
                    <img src="/images/format-Penguins.jpg?width=300&height=500&mode=crop" />
                </div>
                <div class="col-s-8">
                    <img src="/images/udendørs.jpg?width=600&height=250&mode=crop" />
                    <img src="/images/bus.jpg?width=311&height=250&mode=crop&center=0.2,0.7" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <h2>Resize Max</h2>
                <div class="col-s-4">
                    <img src="/images/format-Penguins.jpg?width=300&height=500&mode=max" />
                </div>
                <div class="col-s-8">
                    <img src="/images/udendørs.jpg?width=600&height=250&mode=max" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <h2>Resize Max - No Upscale</h2>
                <div class="col-s-4">
                    <img src="/images/format-Penguins-200.jpg?width=300&height=500&mode=max&upscale=false" />
                </div>
                <div class="col-s-8">
                    <img src="/images/udendørs-374.jpg?width=600&height=250&mode=max&upscale=false" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <h2>Resize Stretch</h2>
                <div class="col-s-4">
                    <img src="/images/format-Penguins.jpg?width=300&height=500&mode=stretch" />
                </div>
                <div class="col-s-8">
                    <img src="/images/udendørs.jpg?width=600&height=250&mode=stretch" />
                </div>
            </div>
        </section>
        <section>
            <h2>Filter</h2>
            <div class="row">
                <div class="col-s-6">
                    <h3>blackwhite</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=blackwhite" />
                </div>
                <div class="col-s-6">
                    <h3>comic</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=comic" />
                </div>
            </div>
            <div class="row">
                <div class="col-s-6">
                    <h3>lomograph</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=lomograph" />
                </div>
                <div class="col-s-6">
                    <h3>greyscale</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=greyscale" />
                </div>
            </div>
            <div class="row">
                <div class="col-s-6">
                    <h3>polaroid</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=polaroid" />
                </div>
                <div class="col-s-6">
                    <h3>sepia</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=sepia" />
                </div>
            </div>
            <div class="row">
                <div class="col-s-6">
                    <h3>gotham</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=gotham" />
                </div>
                <div class="col-s-6">
                    <h3>hisatch</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=hisatch" />
                </div>
            </div>
            <div class="row">
                <div class="col-s-6">
                    <h3>losatch</h3>
                    <img src="/images/format-Penguins.jpg?width=300&filter=losatch" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Watermark</h2>
                    <img src="/images/format-Penguins.jpg?width=300&watermark=text-This+is+a+long+body+of+copy+that+should+wrap|color-fff|size-24|style-italic|opacity-100|position-100-100|shadow-true|font-arial" />
                </div>
                <div class="col-s-6">
                    <h2>Format</h2>
                    <img src="/images/format-Penguins.jpg?width=300&format=gif" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Rotate</h2>
                    <img src="/images/format-Penguins.jpg?width=300&rotate=angle-54,bgcolor-fff" />
                </div>
                <div class="col-s-6">
                    <h2>Quality</h2>
                    <img src="/images/format-Penguins.jpg?width=300&quality=5" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Alpha</h2>
                    <img src="/images/format-Penguins.jpg?width=300&format=png&alpha=50" />
                </div>
                <div class="col-s-6">
                    <h2>Remote</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Flip - horizontal</h2>
                    <img src="/images/format-Penguins.jpg?width=300&flip=horizontal" />
                </div>
                <div class="col-s-6">
                    <h2>Flip - vertical</h2>
                    <img src="/images/format-Penguins.jpg?width=300&flip=vertical" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Gaussian Blur</h2>
                    <img src="/images/format-Penguins.jpg?width=300&blur=11,sigma-1.5,threshold-10" />
                </div>
                <div class="col-s-6">
                    <h2>Gaussian Sharpen</h2>
                    <img src="/images/format-Penguins.jpg?width=300&sharpen=11,sigma-1.5,threshold-10" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>Tint rgba</h2>
                    <img src="/images/format-Penguins.jpg?width=300&tint=175,118,166,255" />
                </div>
                <div class="col-s-6">
                    <h2>Tint Hex</h2>
                    <img src="/images/format-Penguins.jpg?width=300&tint=af76a6" />
                </div>
            </div>
        </section>*@
</article>
@*<article>
        <h1>Color Profiles</h1>
        <section>
            <div class="row">
                <div class="col-s-6">
                    <h2>CMYK resized jpg</h2>
                    <img src="/images/cmyk.jpg?width=400" />
                </div>

                <div class="col-s-6">
                    <h2>sRGB resized jpg</h2>
                    <img src="/images/srgb.jpg?width=400" />
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <h2>Rounding</h2>
                <img src="/Images/header_1.jpg?crop=0-43-683-200&width=750&height=220" />
                <img src="/Images/header_1.jpg?width=750&crop=0-48-750-220" />
            </div>
        </section>
    </article>*@