@{
    ViewBag.Title = "Png8";
}

<article>
    <h1>Png8</h1>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Resized</h2>
                <img src="/images/format-Penguins-8bit.png?width=300" />
            </div>
            <div class="col-s-6">
                <h2>Cropped </h2>
                <img src="/images/format-Penguins-8bit.png?crop=0,0,300,225" />
            </div>
        </div>
    </section>
    <section>
        <h2>Filter</h2>
        <div class="row">
            <div class="col-s-6">
                <h3>blackwhite</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=blackwhite" />
            </div>
            <div class="col-s-6">
                <h3>comic</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=comic" />
            </div>
        </div>
        <div class="row">
            <div class="col-s-6">
                <h3>lomograph</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=lomograph" />
            </div>
            <div class="col-s-6">
                <h3>greyscale</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=greyscale" />
            </div>
        </div>
        <div class="row">
            <div class="col-s-6">
                <h3>polaroid</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=polaroid" />
            </div>
            <div class="col-s-6">
                <h3>sepia</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=sepia" />
            </div>
        </div>
        <div class="row">
            <div class="col-s-6">
                <h3>gotham</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=gotham" />
            </div>
            <div class="col-s-6">
                <h3>hisatch</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=hisatch" />
            </div>
        </div>
        <div class="row">
            <div class="col-s-6">
                <h3>losatch</h3>
                <img src="/images/format-Penguins-8bit.png?width=300&filter=losatch" />
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Watermark</h2>
                <img src="/images/format-Penguins-8bit.png?width=300&watermark=text-test&color=fff&fontsize=48&fontstyle=italic&fontopacity=100&textposition=100,100&dropshadow=true&font=arial" />
            </div>
            <div class="col-s-6">
                <h2>Format</h2>
                <img src="/images/format-Penguins-8bit.png?width=300&format=bmp" />
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Rotate</h2>
                <img src="/images/format-Penguins-8bit.png?width=300&rotate=angle-54|bgcolor-fff" />
            </div>
            <div class="col-s-6">
                <h2>Quality</h2>
                <img src="/images/format-Penguins-8bit.png?width=300&quality=5" />
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Alpha</h2>
                <img src="/images/format-Penguins-8bit.png?width=300&alpha=50" />
            </div>
        </div>
    </section>
</article>
