<?xml version="1.0" encoding="utf-8" ?>
<security>
  <services>
    <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web"/>
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Protocol" value="http"/>
      </settings>
      <whitelist>
        <add url="http://ipcache.blob.core.windows.net/"/>
        <add url="images.mymovies.net"/>
        <add url="core.windows.net"/>
        <add url="http://maps.googleapis.com"/>
        <add url="fbcdn"/>
        <add url="http://fbcdn-profile-"/>
        <add url="https://profile."/>
        <add url="http://profile."/>
        <add url="https://pbs.twimg.com"/>
        <add url="http://pbs.twimg.com"/>
        <add url="http://placekitten.com"/>
        <add url="http://hanselminutes.com/"/>
      </whitelist>
    </service>
  </services>
</security>
