<?xml version="1.0" encoding="utf-8" ?>
<processing>
  <plugins>
    <plugin name="Resize">
      <settings>
        <setting key="MaxWidth" value="3000"/>
        <setting key="MaxHeight" value="3000"/>
      </settings>
    </plugin>
    <plugin name="Preset">
      <settings>
        <setting key="a" value="width=300&#038;height=150"/>
      </settings>
    </plugin>
  </plugins>
</processing>

