<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/flexo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
            <div class="container">
                <h1>ImageProcessor NET4.0</h1>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
    </div>

    <footer class="page-footer">
    </footer>
</body>
</html>
