<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/flexo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="container">
            <header>
                <div>
                    <h1>ImageProcessor Test Website</h1>
                </div>
            </header>
            <section id="main">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer class="page-footer">
    </footer>
</body>
</html>
