<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpZipLib.Portable" version="0.86.0.0002" targetFramework="portable-net45+win8+wp8" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta015" targetFramework="portable-net45+dnxcore50+win+wpa81+wp80" developmentDependency="true" />
</packages>