body {
    font-family: "Segoe UI",Tahoma,Arial,Verdana,Sans-Serif;
    color: #333;
}

h1, h2, h3 {
    font-family: "Segoe UI Light", "Segoe UI",Tahoma,Arial,Verdana,Sans-Serif;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: 3em;
}

img {
    background: #fff;
    padding: 3px;
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
}

.no-bullets {
    padding-left: 0;
}

    .no-bullets > li {
        list-style: none;
        float: left;
        margin-right: .5em;
    }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
