<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/responsive.min.css")" rel="stylesheet" type="text/css" media="all and (min-width: 1em)" />
    <!--[if lt IE 9 &!(IEMobile)]>
       <link href="@Url.Content("~/Content/responsive-legacy.min.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <header class="container">
        <h1>ImageProcessor NET4.5</h1>
    </header>
    <section class="container">
        @RenderBody()
    </section>
</body>
</html>
